<nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5">
  <!-- Navbar brand -->
  <a class="navbar-brand" routerLink="/">UA News</a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div
    class="navbar-collapse"
    [ngClass]="[isCollapsed ? 'collapsed' : 'collapse']"
    id="navbarSupportedContent"
  >
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
</nav>
