/* You can add global styles to this file, and also import other style files */
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.pagination {


  .page-item {


    .page-link {
      color: #343a40;
    }

    &.active {
      .page-link {
        color: #ffffff;
        background-color: #d39e00;
        border-color: #d39e00;
      }
    }
  }
}
